@import '@styles/breakpoints';

.textContainer {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: var(--text-xxxl);
}

.name {
  color: var(--color-main-primary);
}

.description {
  text-align: justify;
}

.profilePic {
  position: relative !important;
  height: unset !important;
  box-shadow: -50px -50px 0 -40px var(--color-main-primary), 50px 50px 0 -40px var(--color-main-primary);
}
