@import '@styles/breakpoints';

.themeSwitch {
  position: fixed;
  right: var(--space-lg);
  top: var(--space-lg);
  z-index: 1;

  @include breakpoint($until: 'md') {
    top: unset;
    right: unset;
    bottom: var(--space-md);
    left: var(--space-sm);
  }
}
