/* -------------------------------- 

Colors 

-------------------------------- */

:root {
  --color-background-dark: #111111;
  --color-background-light: white;
  --color-elements-background: #333333;
  --color-main-primary: #fbab0a;
}
