html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
}

body {
  background: var(--color-background-hex);
  color: var(--color-text);
  transition: 0.3s;
}
