@import '@styles/breakpoints';

.menu {
  display: flex;
  position: fixed;
  top: var(--space-lg);
  gap: var(--space-lg);

  @include breakpoint($until: 'md') {
    gap: unset;
    width: 100%;
    justify-content: space-around;
  }
}

.menuItem {
  width: 50px;
  height: 50px;
  background: var(--color-elements-background);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;

  .iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    svg {
      margin: 0 auto;
      color: var(--color-elements);
    }
  }

  &:hover,
  &.active {
    background: var(--color-main-primary);
    svg {
      color: white;
    }
  }

  .pill {
    pointer-events: none;
    position: absolute;
    flex-shrink: 0;
    background-color: var(--color-main-primary);
    border-radius: 16px;
    padding: var(--space-xxs) var(--space-md);
    font-weight: 500;
    letter-spacing: 0.05em;
    color: white;
  }
}
